{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="row">
        <!-- product-list -->
        <div class="col-md-12">
            <!-- categorys -->
            <div class="section">
                <div class="row">
                    <div class="col-md-12">

                        <h3>Contact</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-3">
                                <b><i class="fa fa-skype"></i> Skype</b><br>
                                Mobile Number: 12345678901							<br><br>
                                <b><i class="fa fa-whatsapp"></i> Whatsapp</b><br>
                                12345678901							<br><br>
                                <b><i class="fa fa-at"></i> Support email</b><br>
                                usdbuysell24@gmail.com							<br><br>
                            </div>
                            <div class="col-md-9">
                                <form action="#" method="#">
                                    <div class="form-group">
                                        <label>Your name</label>
                                        <input type="text" class="form-control input-lg form_style_1" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Your email address</label>
                                        <input type="text" class="form-control input-lg form_style_1" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" class="form-control input-lg form_style_1" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea class="form-control input-lg form_style_1" name="message" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary" name="bit_send">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- category-ad -->


        </div><!-- product-list -->
    </div>
{% endblock %}