{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-top">
                    <h4>Customer Feedback</h4>
                </div>
                <div id="featured-slider" style="background: #fff; border-radius: 6px 6px 0px 0px;">
                    <div class="featured">
                        <div class="ad-info">
                            <h3 class="item-price">
                                    <span class="label label-success" style="color:#fff;">
                                        <i class="fa fa-smile-o"></i> Positive
                                    </span>
                            </h3>
                            <h4 class="item-title">fast and friendly, thanks admin</h4>
                            <div class="item-cat">
                                <span>sohelparvez33</span>
                            </div>
                        </div>
                    </div>
                    <div class="featured">
                        <div class="ad-info">
                            <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                            class="fa fa-smile-o"></i> Positive</span></h3>
                            <h4 class="item-title">Thanks</h4>
                            <div class="item-cat">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="featured">
                        <div class="ad-info">
                            <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                            class="fa fa-smile-o"></i> Positive</span></h3>
                            <h4 class="item-title">10 minute e $ pelam thank you</h4>
                            <div class="item-cat">
                                <span>Asrafulhaque</span>
                            </div>
                        </div>
                    </div>
                    <div class="featured">
                        <div class="ad-info">
                            <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                            class="fa fa-smile-o"></i> Positive</span></h3>
                            <h4 class="item-title">I have found this service very easy and helpful. For the first
                                time I made a payment. Almost everything us unfamiliar to me, but they helped me in
                                every step in live chat and made everything easy for me. Surely will be use this
                                awesome website. Highly recommended for everyone.</h4>
                            <div class="item-cat">
                                <span>tamimalrahman</span>
                            </div>
                        </div>
                    </div>
                    <div class="featured">
                        <div class="ad-info">
                            <h3 class="item-price"><span class="label label-success" style="color:#fff;"><i
                                            class="fa fa-smile-o"></i> Positive</span></h3>
                            <h4 class="item-title">Thanks for admin ...
                                onak din dorei amon akta site khujtechilam ...</h4>
                            <div class="item-cat">
                                <span>shihabieee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}