{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="section">
        <div class="faq-page">
            <div class="accordion">
                <div class="panel-group" id="accordion">
                    <h2 class="">Frequently asked questions</h2>
                </div>
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-2">
                            <h4 class="panel-title">
                                usdbuysell24.com কী? <span class="pull-right"><i class="fa fa-minus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-2" class="panel-collapse collapse collapse in">
                        <div class="panel-body">
                            <p>
                                <span style="font-size: large;">অনলাইনভিত্তিক ডলার ক্রয়-বিক্রয়ের বিশ্বস্ত প্লাটফর্মগুলির অন্যতম। সাধ্যানুযায়ী গ্রাহকবান্ধব সেবা প্রদান করাই আমাদের লক্ষ্য।
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="panel panel-default panel-faq">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-2">
                            <h4 class="panel-title">
                                ডলার ক্রয়-বিক্রয়ের রেট কি একটু বেশ-কম করা যাবে? <span class="pull-right"><i class="fa fa-minus"></i></span>
                            </h4>
                        </a>
                    </div>
                    <div id="faq-2" class="panel-collapse collapse collapse in">
                        <div class="panel-body">
                            <p><span style="font-size: large;">দুঃখিত স্যার! চতুর্দিক চিন্তা-ভাবনা করেই অ্যাডমিন প্যানেল রেট নির্ধারণ করেন। সবকিছুর পর আমাদের অতি অল্পই প্রফিট থাকে। কারণ,&nbsp; রেট নির্ধারণের সময় গ্রাহকের সুবিধার কথা মাথায় রেখেই সিদ্ধান্ত নেওয়া হয়।</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}