{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="section trending-ads alamin1">
                <div>
                    <h4 style="font-size: 18px; margin-bottom: 14px;font-weight: bold;">Latest exchanges</h4>
                </div>
                <br/>
                <div class="row">
                    <div style="overflow-x:auto;">
                        <table class="table table-bordered table-striped table-hover" align="center" style="font-size:15px">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Send</th>
                                <th>Receive</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Maruf50</td>
                                <td> <img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px" height="20"> Bkash Agent </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px" height="20"> Neteller. </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td> <img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px" height="20"> Bkash Agent </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px" height="20"> Neteller. </td>
                                <td>100 BDT</td>
                            </tr>
                            <tr>
                                <td>Maruf50</td>
                                <td> <img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px" height="20"> Bkash Agent </td>
                                <td><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="20px" height="20"> Neteller. </td>
                                <td>2000 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td> <img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="20px" height="20"> Bkash Agent </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px" height="20"> Skrill. </td>
                                <td>2100 BDT</td>
                            </tr>
                            <tr>
                                <td>babictg87</td>
                                <td> <img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="20px" height="20"> Rocket Personal </td>
                                <td><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="20px" height="20"> Skrill. </td>
                                <td>2060 BDT</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="section">
                <div style="margin-top: -20px;"></div>
                <div class="section-title tab-manu">
                    <div class="btn btn" style="text-align: center; font-size: 16px; background: #00a651; color: white; width: 100%; height:40px;">&nbsp;&nbsp;&nbsp;<strong>Reserve Now</strong></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/assets/icons/PerfectMoney.png" width="30px" height="30px" class="img-circle pull-left">
                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;">
                                <strong>Perfect Money</strong>
                            </span>
                        <strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial">
                                    <strong>577.51 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1519940119_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Payza.</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
2500 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1520026946_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Neteller.</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
2000 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1520153963_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Skrill.</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
2249.6 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1520154778_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Rocket Personal</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
115.9 BDT</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1520154900_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Bkash Personal</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
311322.2 BDT</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1520155898_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Rocket Agent</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
10000 BDT</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1520156044_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Bkash Agent</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
100000 BDT</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1534314057_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
DBBL</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
19875 BDT</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>





                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1537811639_icon.jpg" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
WebMoney.</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
162.25 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>

                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1538721439_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Facebook Ads</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
200 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>

                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/assets/icons/Payeer.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Payeer</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
64 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>
                    <div class="col-md-6" style="margin-bottom:5px;"><img src="http://usdbuysell.com/uploads/1543747138_icon.png" width="30px" height="30px" class="img-circle pull-left">

                        <span class="text text-muted" style="margin-left:5px; color: #3949ab; font-size: 14px; font-family: Arial;"><strong>
Google Ads</strong></span><strong>
                            <br>
                            <span class="label label-success" style="margin-left:5px;  background: #00a651; color: #f2f2f2; font-size: 14px; font-family: Arial"><strong>
200 USD</strong></div><strong>

                    </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}