{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col-md-12">
                <h3>Terms and Conditions</h3>
                <hr>
                <h4>
                    1. আমাদের লেনদেনের সময় সকাল 10 টা - রাত 1 টা পর্যন্ত।<br />
                    <br />
                    ২. সর্বনিম্ন লেনদেনের পরিমাণ  $10।<br />
                    <br />
                    ৩. আপনি ডলার ক্রয়/বিক্রয়ের 5 মিনিট  - 1 ঘন্টার  মধ্যে পেমেন্ট পাবেন।<br />
                    <br />
                    ৪. Dollar Buy Sell সর্বোচ্চ ১ ঘন্টার মধ্যে Complete করা হয়।<br />
                    <br />
                    ৫. সাইটের লেনদেন প্রক্রিয়া সম্পন্ন হওয়ার ৩০ মিনিটের মধ্যে Dollar বা টাকা না পেলে Helpline Number এ যোগাযোগ করুন।<br />
                    <br />
                    ৬. লেনদেন এর পূর্বে Account Login করে Dollar Reserve আছে কিনা দেখে নিন।<br />
                    <br />
                    ৭. Skrill এবং Neteller এ সর্বনিম্ন লেনদেনের পরিমাণ  $১০। <br />
                    <br />
                    ৮. Payoneer এ সর্বনিম্ন লেনদেনের পরিমাণ $50 ও Paypal $20।<br />
                    <br />
                    ৯. Order submit  করার সময় আপনার e-mail / b-Kash number / amount  সঠিক আছে কিনা ভাল করে দেখে নিবেন। <br />
                    <br />
                    কোন প্রকার ভুলের দায় USDBuySell24 বহন করবে না।<br />
                    <br />
                    ১০. চট্টগ্রামের ক্রেতা/বিক্রেতা চাইলে আমাদের সাথে যোগাযেগের মাধ্যমে সরাসরি লেনদেন করতে পারবেন।
                </h4>
            </div>
        </div>
    </div>
{% endblock %}