<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; {{ 'now' | date('Y') }} <a href="#" target="_blank">usdbuysell24.com</a>
            </div>
        </div>
    </div>
</footer>